{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.techguide.com</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container">
    <a class="navbar-brand" href="#">TechGuide</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/feed/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/aboutus/">ABOUT US</a>
        </li>
        <li class="nav-item" active>
          <a class="nav-link "href = "http://127.0.0.1:8000/add/">ADD QUESTION</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href = "http://127.0.0.1:8000/profile/">PROFILE</a>
          </li>
      </ul>
    </div>
  </div>
</nav>
<div class = "container">
<p>
<br>
<br>
    TechGuides's mission is to share and grow the world's knowledge. The vast majority of human knowledge is still not on the internet. 
      Most of it is trapped in the form of experience in people's heads, or buried in books and papers that only experts can access. <br>
      As a consequence most people don't have the knowledge they should, and don't have the time, connections, or skills to get to the knowledge they would have in an ideal world.
  
      The internet was supposed to allow anyone to set up a web page and share their knowledge with the world. But in practice it's too difficult and takes too long and almost no one does it. <br> Blogs are easy to start, but unless the author is famous, it takes years to build a following. More than a billion people use the internet yet only a tiny fraction contribute their knowledge to it.
      
      TechGuide aims to allow anyone to easily share their knowledge and in the process to dramatically increase the total amount of knowledge available to the world. As we grow, we will be able to provide larger and larger audiences to writers, cover more and more topics, and have greater and greater impact on the world. <br>
      
      We hope to become an internet-scale Library of Alexandria, a place where hundreds of millions of people go to learn about anything and share everything they know. To do that we are going to have to expand. Today TechGuide is largely questions and answers, but that is not the ideal format for all knowledge. Other formats will gradually be added as we scale up.
      
      All of this will be guided by our mission
      <br>
      <br>

      For any queries contact us: <a href = "#">techguideqa@gmail.com</a>
</p>
</div>
</body>
</html>