<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <title>www.techguide.com</title>
   {% load static %}
    
    <center><img src="{% static 'TECHGUIDE.png' %}" alt="centered image" ></center>
    
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="banner">
    <header>
      <div class="navbar">
        <center><h3>&nbsp;&nbsp;&nbsp;To get started please</h3></center>
        <ul>
          <center><li><a href="login">Log-in</a></li></center>
          
          
          <style>
            *{
              background-color: #A8E1E1;
            }
            .navbar h3{
              position: relative;
              color: rgb(0, 0, 0);
            }
            .navbar ul li a{
  text-decoration: none;
  color: #03989e;
  text-transform: uppercase;

}

.navbar ul li a:hover {
  
  color: rgb(3, 6, 6);

}
          </style>
        </ul>
      </div>
    </header>
    
  </div>
</body>
</html>
